.tool-box {
    position: relative;
    z-index: 11;
    .modal {
        position: fixed;
        background-color: #fff;
        width: 300px;
        height: 150px;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        transition: transform 1s;
        &.hide {
            transform: translate(-50%, 200px);
        }
    }
    .btn {
        position: fixed;
        background-color: #fff;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
